/**
 * The transitioning container
 * ===========================
 * 1. Set transition to transforms only
 * 2. Set the z-index higher than the menus
 */

.container {
  transition: transform $transition-time-easing; // 1
  position: relative; // 2
  z-index: 2; // 2
}



/**
 * The overlay
 * ===========
 * 1. Cover the entire container
 * 2. Hide by setting z-index to -1 because item can't transition if display is set from none to block
 * 3. Set opacity to 0 by default
 * 4. Hide overlay when screen is wide enough
 */

.off-canvas-overlay {
  display: block;
  content: " ";
  position: absolute; // 1
  top: 0; // 1
  right: 0; // 1
  bottom: 0; // 1
  left: 0; // 1
  z-index: -1; //2
  opacity: 0; // 3
  background: $overlay-background;
  transition: opacity $transition-time-easing;

  @media (min-width:$query) {
    display: none; // 4
  }
}



/**
 * Container when toggled
 * ======================
 * 1. Set left to the width of the menu so the menu will appear
 * 2. Set right to the negative width of the menu so the menu will appear
 * 3. Reset when screen is wide enough
 * 4. Set a box shadow so menus appear behind container
 */

.show-left-menu {
  .container {
    transform: translate($menuwidth, 0); // 1

    @media (min-width:$query) {
      transform: translate(0, 0); // 3
    }
  }
}

.show-right-menu {
  .container {
    transform: translate(-$menuwidth, 0); // 2

    @media (min-width:$query) {
      transform: translate(0, 0); // 3
    }
  }
}

.opened--left,
.opened--right {
  .container {
    overflow: hidden;

    @media (min-width:$query) {
      overflow: auto; // 3
    }
  }
}



/**
 * Overlay when toggled
 * ====================
 * 1. Set opacity
 * 2. Set z-index to 1 so it will become visible
 */

.show-left-menu,
.show-right-menu {
  .off-canvas-overlay {
    opacity: .5; // 1
  }
}

.opened--left,
.opened--left {
  .off-canvas-overlay {
    z-index: 2; // 2
  }
}



/**
 * Javascript specific
 * ===================
 * 1. Set the width of the menu
 * 2. Position the menu
 * 3. Set height to 100% and make div overflowable
 * 4. Set a lower index than the container
 * 5. Hide menu when JS is enabled
 * 6. Make menu visible when screen is wide enough
 * 7. Always show menu when toggled and in animation
 */

.js-enabled .off-canvas-menu {
  width: $menuwidth; // 1
  position: absolute; // 2
  top: 0; // 2
  height: 100%; //3
  overflow: auto; // 3
  z-index: 1; // 4
  display: none; // 5
  -webkit-overflow-scrolling: touch;

  @media (min-width:$query) {
    position: relative; // 6
    display: block; // 6
  }

  &--left {
    left: 0; // 2
  }

  &--right {
    right: 0; // 2
  }
}



/**
 * Disable transitions
 * ===================
 */

.no-transition.no-transition {
  transition: none !important;
}

.opened--left {
  .off-canvas-menu--left {
    display: block;
  }
}

.opened--right {
  .off-canvas-menu--right {
    display: block;
  }
}