/**
 * The off canvas wrapper
 * ======================
 * 1. Set to relative so the menu is placed correctly when using position: absolute
 * 2. Since we are transforming this element it needs transition
 */

.off-canvas-wrapper {
  position: relative; // 1
  transition: $transition; // 2
  z-index: 0;
}



/**
 * The overlay
 * ===========
 * 1. Cover the entire wrapper
 * 2. Hide by setting z-index to -1 because item can't transition if display is set from none to block
 * 3. Set opacity to 0 by default
 * 4. Hide overlay when screen is wide enough
 */

.off-canvas-overlay {
  display: block;
  content: " ";
  position: absolute; // 1
  top: 0; // 1
  right: 0; // 1
  bottom: 0; // 1
  left: 0; // 1
  z-index: -1; //2
  opacity: 0; // 3
  background: $overlay-background;
  transition: opacity $transition-time-easing;

  @media (min-width:$query) {
    display: none; // 4
  }
}



/**
 * Wrapper when toggled
 * ====================
 * 1. Set left to the width of the menu so the menu will appear
 * 2. Set right to the negative width of the menu so the menu will appear
 * 3. Reset translate when screen is wide enough
 */

.show-left-menu {
  transform: translate($menuwidth, 0); // 1

  @media (min-width:$query) {
    transform: translate(0, 0); // 3
  }
}

.show-right-menu {
  transform: translate(-$menuwidth, 0); // 2

  @media (min-width:$query) {
    transform: translate(0, 0); // 3
  }
}



/**
 * Overlay when toggled
 * ====================
 * 1. Set opacity
 * 2. Set z-index to 1 so it will become visible
 * 3. Hide overlay behind the menu for smooth visual transitions.
 *    We only do this on toggle so we won't get horizontal scrollbars when not toggled
 */

.show-left-menu,
.show-right-menu {
  .off-canvas-overlay {
    opacity: .75; // 1
  }
}

.opened {
  .off-canvas-overlay {
    z-index: 1; // 2
    right: -10px; // 3
    left: -10px; // 3
  }
}



/**
 * Javascript specific
 * ===================
 * 1. Set the width of the menu
 * 2. Position the menu so it's off the viewport
 * 3. Set height to 100% and make div overflowable
 * 4. Set a higher index then the overlay
 * 5. Hide menu when JS is enabled
 * 6. Make menu visible when screen si wide enough
 * 7. Always show menu when toggled and in animation
 */

.js-enabled .off-canvas-menu {
  width: $menuwidth; // 1
  position: absolute; // 2
  top: 0; // 2
  height: 100%; //3
  overflow: auto; // 3
  z-index: 2; // 4
  display: none; // 5
  -webkit-overflow-scrolling: touch;

  @media (min-width:$query) {
    position: relative; // 6
    display: block; // 6
  }

  &--left {
    left: -$menuwidth; // 2

    @media (min-width:$query) {
      left: 0; // 6
    }
  }

  &--right {
    left: 100%; // 2

    @media (min-width:$query) {
      left: auto; // 6
    }
  }
}

.off-canvas-menu.opened {
  display: block; // 7
}



.no-transition {
  transition: none !important;
}