.off-canvas-menu-toggle {
  width: 43px;
  height: 43px;
  border-radius: 3px;
  background: #232323;
  color: white;
  border: none;
  padding: 0;
  margin: 10px;
  position: absolute;
  z-index: 9;
  top: 0;

  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 3px;
    display: block;
    position: absolute;
    left: 10px;
    background: white;
    border-radius: 1px;
    vertical-align: middle;
    transition: $transition;
  }

  .bar1 {
    top: 13px;
  }

  .bar2 {
    top: 20px;
  }

  .bar3 {
    top: 27px;
  }
}

#left-menu-toggle {
  left: 0;
}

#right-menu-toggle {
  right: 0;
}

.show-left-menu .off-canvas-menu-toggle#left-menu-toggle,
.show-right-menu .off-canvas-menu-toggle#right-menu-toggle {
  .bar1 {
    top: 20px;
    transform: rotate(135deg);
  }

  .bar2 {
    transform: translate(-100%, 0);
    opacity: 0;
  }

  .bar3 {
    top: 20px;
    transform: rotate(-135deg);
  }
}