/* Basic styling */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
}

// Set a proper focus
*:focus {
  outline: 2px solid #f1c40f;
}

// The container
.container {
  text-align: center;
  background: #16a085;
  color: white;
  padding: 20px;
  min-height: 100%;

  @media (min-width:$query) {
    display: table-cell; // Faking flexbox for older browsers
    flex: 1 1 auto;
  }

  h1 {
    font-weight: normal;
    margin: 0;
  }
}