// Vars
$menuwidth: 260px;
$transition-time-easing: 360ms cubic-bezier(.2,.57,.44,.83);
$transition: all $transition-time-easing;
$query: 8000px;

// Hamburger
$button-size: 38px;
$bar-width: 20px; // Best to grab a number that can be divided by 5
$bar-height: round($bar-width / 5);

// Overlay
$overlay-background: #2c3e50;