// Adding normalize
@import "../bower_components/normalize-scss/normalize";

// Vars
$menuwidth: 260px;
$transition: all 350ms cubic-bezier(.15,.8,.2,.9);

/* Basic styling */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Needed classes */
#outer-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: $transition;
}

.off-canvas-overlay {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: -1;
  display: block;
  opacity: 0;
  transition: $transition;
}

.show-left-menu #left-menu {
  transform: translate($menuwidth, 0);
}

.show-right-menu #right-menu {
  transform: translate(-$menuwidth, 0);
}

.show-left-menu .off-canvas-overlay,
.show-right-menu .off-canvas-overlay {
  opacity: .5;
  z-index: 1;
}

/* The menu */
.off-canvas-menu {
  width: $menuwidth;
  height:100%;
  background: #333;
  position: absolute;
  top: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  color: white;
  padding: 1em;
  transition: $transition;

  h2 {
    font-size: 1.5em;
    margin: 0 0 .75em 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.off-canvas-menu a {
  color: white;
}

nav#left-menu {
  left: -$menuwidth;
  z-index: 3;
}

nav#right-menu {
  left: 100%;
  z-index: 3;
}

.js-enabled .off-canvas-menu {
  display: none;
}

.off-canvas-menu.opened {
  display: block;
}

@media (min-width:8000px) {

  #outer-wrapper {
    display: table;
    display: flex;
  }

  .off-canvas-menu {
    position: relative;
    display: table-cell;
    flex: 0 0 $menuwidth;
  }

  .container {
    min-height: 100%;
    display: table-cell;
    flex: 1 1 auto;
  }

  nav#left-menu {
    left: 0;
  }

  nav#right-menu {
    left: auto;
  }

  .off-canvas-menu-toggle {
    display: none;
  }

  .js-enabled .off-canvas-menu {
    display: block;
  }

}

.container {
  text-align: center;
  background: #16a085;
  color: white;
  padding: 20px;

  h1 {
    font-weight: normal;
    margin: 0;
  }
}

@import "hamburger";


#test {
  position: fixed;
  bottom:10px;
  left: 10px;
  background: white;
  padding: 20px;
  font-size: 1em;
  z-index: 999;
}