// Adding normalize
@import "../bower_components/normalize-scss/normalize";

// Variables
@import "variables";

// Core
@import "core";

// Styling
@import "style";

// Animated hamburger button
@import "hamburger";

#test {
  position: fixed;
  bottom:10px;
  left: 10px;
  background: white;
  padding: 20px;
  font-size: 1em;
  z-index: 999;
}